*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1488F2;
  height: 8vh;
  padding: 0rem 1rem;
  position: fixed;
}

#navbar h4 {
  color: #fff;
}

#nav-list {
  display: flex;
  list-style: none;
}

#nav-list a {
  text-decoration: none;
  color: #fff;
}

.nav-list-margin {
  margin-right: 1.5rem;
}