
h1 {
  color: #00ffff;
}

.change-color {
  color: violet;
}
.text-30 {
  font-size: 30px;
}

.change{
  color: #333;
  font-size: 50px;
  background-color: red;
}

.btn{
  background-color: rgb(20, 230, 20);
  height: 40px;
  width: 160px;
  border: none;
  color: #fff;
  margin-top: 20px;
  margin-left: 60px;
  font-size: 18px;
  border-radius: 10px;
  transition: .3s;
}

.btn:hover{
  background-color: rgb(14, 98, 14);
  transition: .3s;
  cursor: pointer;
}

#home {
  background-color: #f5f5f5;
  height: 500px;
  padding: 12px;
}

#title {
  color: #000;
  font-size: 30px;
  margin-left: 45%;
  margin-top: 13%;
}
hr {
  background-color: yellow;
  border: none;
  height: 2px;
  width: 150px;
}

.p-1{
  text-align: center;
  width: 380px;
  margin-left: 35%;
}