#navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1488F2;
  height: 8vh;
  padding: 0rem 1rem;
  position: sticky;
  top: 0;
}

#navbar h4 {
  color: #fff;
}

#nav-list {
  display: flex;
  list-style: none;
}

#nav-list a {
  text-decoration: none;
  color: #fff;
}

.nav-list-margin {
  margin-right: 1.5rem;
}


#ranking-home{
  height: 95vh;
  width: 100%;
  background-color: #f5f5f5;
}

#ranking-home div {
  background-color: #fff;
  width: 80%;
  height: 60%;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
} 
#ranking-home div table {
  width: 80%;
}